* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    #bb00ff 100%,
    #190361 100%
  );
}

/*classe de ocultar elementos  */
.disappear{
  display: none;
}

.main-container {
  width: 428px;
  height: 564px;
  background-color: #fff;
  margin: 200px auto;
  border-radius: 10px;
  box-shadow: 15px 20px 50px rgba(8, 8, 8, 0.5);
}

.content1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.content1 h1 {
  font-family: sans-serif;
  font-size: 44px;
  line-height: 49px;
  font-weight: 700;
  margin-top: 48px;
  text-align: center;
}

.content1 p {
  text-align: center;
  margin-top: 20px;

  font-family: sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #34355b;
}

.btn1{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

 .btn1 button {
  border: none;
  margin-top: 18px;
  animation: animationButton 0.5s infinite;
  cursor: pointer;
}

.content2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  
}

.content2 h1 {
  font-family: sans-serif;
  font-size: 34px;
  line-height: 49px;
  font-weight: 700;
  text-align: center;
}

.phrase {
  width: 300px;
  height: 100px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #E4EDF1;
  box-shadow: 2px 2px 2px rgba(85, 85, 85, 0.5);

}

.content2 p {
  text-align: center;
  padding: 10px;
  font-family: 'Sevillana';
  font-weight: 400;
  font-size: 25px;
  line-height: 20px;
  color: #34355b;
}



 .content2 img {
  width: 300px;
  height: 100px;
  margin-top: 28px;
  margin-left: 70px;
}

.btn2{
  display: flex;
  justify-content: center;
}

.btn2 button {
  width: 174px;
  height: 52px;
  margin-top: 48px;
  font-weight: 700;
  color: #fff;
  background: #ff9500;
  border-radius: 4px;
  border: #af6702;
}

.btn2 button:hover {
  background-color: #af6702;
  cursor: pointer;
}

@keyframes animationButton {
  0% {
    margin-left: 0;
  }
  25% {
    margin-left: 10px;
  }
  50% {
    margin-left: 0;
  }
  75% {
    margin-left: -15px;
  }
  100% {
    margin-left: 0;
  }
}
